[user]
	name = Kohei Watanabe
	email = nebel@fogtype.com
	signingKey = 465531DC9AF65EBF1B820A0577A50E3792B5E1EB
[commit]
	gpgSign = true
[core]
	commentChar = ";"
	fsmonitor = true
[credential "https://git.fogtype.com"]
	helper = !tea-cli login helper
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://git.heroku.com"]
	helper = !heroku git:credentials
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autoStash = true
[feature]
	manyFiles = true
[include]
	path = ~/.gitconfig.local
