[user]
	name = Kohei Watanabe
	email = nebel@fogtype.com
	signingKey = 79807D08C6EF6460
[commit]
	gpgSign = true
[core]
	commentChar = ";"
[credential "https://git.fogtype.com"]
	helper = !tea login helper
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[credential "https://github.com"]
	helper = !gh auth git-credential
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autoStash = true
[include]
	path = ~/.gitconfig.local
