[user]
	name = Kohei Watanabe
	email = nebel@fogtype.com
	signingKey = 79807D08C6EF6460
[commit]
	gpgSign = true
[core]
	commentChar = ";"
[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
[push]
	autoSetupRemote = true
[include]
	path = ~/.gitconfig.local
